body{
    background-color: rgb(51, 51, 51);
    font-family: sans-serif;
    color: white;
}

main{
    border: solid;
    padding: 10px;
    display: flex;
    width: 80vw;
    margin: 50px auto;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
}

main .login, .cadastro{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: black;
    transition: all 0.5s;
}

main .login{
    background-color: #8C52FF;
}

main .cadastro{
    background-color: #CB6CE6;
}

input{
    border-radius: 10px;
    color: black;
    width: 150px;
    border: none;
    text-align: center;
    padding: 5px 0px;
    font-size: 15px;
    transition: all 0.5s;
}

input:focus{
    background-color: transparent;
    color: white;
    outline: solid white;
}

input[type="submit"]{
    border: solid transparent;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 20px;
    width: fit-content;
    margin: 10px;
    transition: all 0.5s;
}
input[type="submit"]:hover{
    background-color: transparent;
    border: solid white;
    color: white;
    padding: 5px 40px;
}

.volta{
    text-decoration: none;
    color: white;
    border: solid;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    main{
        flex-direction: column;
        margin: 20px auto;
    }
    main .login, .cadastro{
        width: 100% !important;
        padding: 10px 0px;
    }
}