body{
    background-color: rgb(51, 51, 51);
    font-family: sans-serif;
    color: white;
}

main{
    border: solid;
    padding: 10px;
    display: flex;
}

main .login, .cadastro{
    border: solid yellow;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.5s;
}

input{
    border-radius: 10px;
    color: black;
    transition: all 0.5s;
}

input:focus{
    background-color: transparent;
    color: yellow;
}
